{% extends 'base.html' %}
{% block content %}
{#     <div class="invdiv">#}
{#        <h2>Регистрация</h2>#}
{#    </div>#}
    <div class="elementdiv">
        <form action="{% url 'logon' %}" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-12">
                   Пожалуйста, авторизируйтесь.
                    <br/><br/>
                </div>
                <div class="col-md-12">
                    Логин (e-mail):<br />
                   <input id="username"  type="email" name="username" class="reglog" required>
                </div>
                <div class="col-md-12">
                    Пароль:<br />
                    <input id="password" type="password" name="password" class="reglog" required>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Вход" class="btn btn-primary btn-large" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}






