{% extends 'base.html' %}


{% block content %}
    <h1>{% block title %}Купить тур{% endblock %}</h1>
    <div class="elementdiv">
        <form action="{% url 'buy_tour' %}" method="post" class="form-horizontal" enctype="multipart/form-data">
            {% csrf_token %}
{#            {{ form }}#}
            <input type="hidden" name="{{ form.consumer.name }}" value="{{ form.consumer.value }}">
{#            <input type="hidden" name="{{ form.status.name }}" value="запрос на бронь">#}
            <div class="form-group">
                <div class="col-md-12">
                    Количество людей:<br />
                    {{ form.amount_of_people }}
                </div>
                <div class="col-md-12">
                    Тур:<br />
                    {{ form.tour }}
                </div>
{#                 <div class="col-md-12">#}
{#                    Status:<br />#}
{#                    {{ form.status }}#}
{#                </div>#}
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Купить тур" class="btn btn-primary btn-large" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
