{% extends 'base.html' %}

{% block content %}
    <div class="contentbody">
        <h1>{% block title %}Ваши брони{% endblock %}</h1>
        {% for booking in bookings %}
            {% if booking.visibility == True %}
                <div class="objdiv" id = "booking{{ booking.id }}" >
                    <div class="objdiv_header">
                        <div class="objdiv_header_left">{{ booking.tour.name }}</div>
                        <div class="objdiv_header_right">{{ booking.final_cost }} руб</div>
                    </div>
                    <div class="objdiv_body">
                        дата бронирования: {{ booking.start_date}} <br/>
                        статус: {{ booking.status}} <br/>
                        путешествие из г. {{ booking.tour.departure_city.name }} в г. {{ booking.tour.hotel.city.name }} <br/>
                        время отбытия: {{ booking.tour.start_date }} <br/>
                        время прибытия обратно: {{ booking.tour.fin_date }} <br/>
                    </div>

                    <div class="objdiv_body_info" id="tourinfo{{ booking.id }}">

                        <div class="objdiv_body_txt">
                            отель: {{ booking.tour.hotel.name }}, {{ booking.tour.hotel.stars}} звезд<br/>
                            страна: {{ booking.tour.hotel.city.country }}<br/>
                            авиакомпания: {{ booking.tour.airline }}<br/>
                            туроператор: {{ booking.tour.tour_operator.username }}<br/>
                            количество свободных мест: {{ booking.tour.capacity }}<br/>
                        </div>
                        <div class="objdiv_body_img">

                            <img src="{{ booking.tour.image.url }}" class="img-thumbnail" ></br>
                        </div>
                    </div>
                    <div class="objdiv_footer">
                        <div class="objdiv_footer_left">&nbsp;</div>
                        <div class="objdiv_footer_right">
                            <a href="javascript: change_display_tour_div('tourinfo{{ booking.id }}')" class="btn btn-danger btn-large">Подробнее</a>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endfor %}

    </div>
{% endblock %}
