{% extends 'base.html' %}

{% block content %}
    <div class="contentbody">
        <h1>{% block title %}Список туров{% endblock %}</h1>
        {% for tour in tour_list %}
            {% if tour.visibility == True %}
                <div class="objdiv" id = "tour{{ tour.id }}" >
                    <div class="objdiv_header">
                        <div class="objdiv_header_left">{{ tour.name }}</div>
                        <div class="objdiv_header_right">{{ tour.price }} руб</div>
                    </div>
                    <div class="objdiv_body">
                        Путешествие из г. {{ tour.departure_city.name }} в г. {{ tour.hotel.city.name }} <br/>
                        Время отбытия: {{ tour.start_date }} <br/>
                        Время прибытия обратно: {{ tour.fin_date }} <br/>
                    </div>

                    <div class="objdiv_body_info" id="tourinfo{{ tour.id }}">

                        <div class="objdiv_body_txt">
                            Отель: {{ tour.hotel.name }}, {{ tour.hotel.stars}} звезд<br/>
                            Страна: {{ tour.hotel.city.country }}<br/>
                            Авиакомпания: {{ tour.airline }}<br/>
                            Туроператор: {{ tour.tour_operator.username }}<br/>
                            Количество свободных мест: {{ tour.capacity }}<br/>
                        </div>
                        <div class="objdiv_body_img">

                            <img src="{{ tour.image.url }}" class="img-thumbnail" ></br>
                        </div>
                    </div>
                    <div class="objdiv_footer">
                        <div class="objdiv_footer_left">&nbsp;</div>
                        <div class="objdiv_footer_right">
                            <a href="javascript: change_display_tour_div('tourinfo{{ tour.id }}')" class="btn btn-danger btn-large">Подробнее</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
