body {
    /*
    padding-top: 50px;
    padding-bottom: 20px;
    */
}

a.tourseller_nav_link {
    color: rgb(224, 224, 224);
    text-decoration: none;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    text-transform: capitalize;
}

.btn {
    box-shadow: none;
    background-color: #E03030;
    border-color: #FFFFFF;
}

.btn:focus {
    box-shadow: none;
    background-color: #E03030;
    border-color: #FFFFFF;
}

.btn:hover {
    box-shadow: none;
    background-color: #AD3C3C;
    border-color: #FFFFFF;
}

.btn:active {
    box-shadow: none;
    background-color: #E03030;
    border-color: #FFFFFF;
}

.btn:active:focus {
    box-shadow: none;
    background-color: #E03030;
    border-color: #FFFFFF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

input.reglog {
    width: 100%;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

div.invdiv {
    width: 20%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

div.invdiv {
    width: 20%;
    margin: auto;
    text-align: center;
    margin-top: 3%;
}

div.elementdiv {
    width: 40%;
    margin: auto;
    background-color: #EDEDED;
    border: 2px #AAA dotted;
    margin-top: 12px;
    padding: 20px;
}

div.elementdiv_white {
    background-color: #FFFFFF;
    border: 1px #AAA dotted;
    margin-top: 12px;
    padding: 20px;
    align-content: center;
}
div.contentbody {
    width: 100%;
    align-content: left;
    padding-left: 40px;
}

div.objdiv {
    width: 800px;
    margin-bottom: 20px;
}

div.objdiv_header {
    width: 100%;
    background-color: #E03030;
}

div.objdiv_subheader {
    width: 100%;
    background-color: #e4b9b0;
}

div.objdiv_header_left {
    padding-left: 20px;
    width: 70%;
    font-size: 14pt;
    background-color: #E03030;
    color: #FFFFFF;
    display: inline-block;
}

div.objdiv_header_right {
    background-color: #E03030;
    font-size: 14pt;
    color: #FFFFFF;
    display: inline-block;
}

div.objdiv_body {
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 0px;
    background-color: #EDEDED;
    color: #000000;
}

div.objdiv_body_img {
    padding-right: 10px;
    padding-top: 5px;
    width: 190px;
    height: 150px;
    float: right;
    background-color: rgba(237, 237, 237, 0.45);
    color: #000000;
}
div.objdiv_body_txt {
    padding-top: 5px;
    padding-bottom: 0px;
    float: left;
    background-color: rgba(237, 237, 237, 0.45);
    color: #000000;
}

div.objdiv_body_info {
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 0px;
    background-color: #EDEDED;
    color: #000000;
    display: none;
}

div.objdiv_footer {
    width: 100%;
    background-color: #EDEDED;
}

div.objdiv_footer_left {
    padding-left: 20px;
    width: 80%;
    background-color: #EDEDED;
    color: #FFFFFF;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.objdiv_footer_right {
    background-color: #EDEDED;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.imgPicture {
    display: inline-block;
    width: 190px;
    height: 120px;
    overflow: hidden;
    border: 5px solid #8c8c8c;
    background: #FFFFFF;
    outline: 1px solid #CCCCCC;
    margin: 10px;
  }
  .imgPicture img {
    width: 190px;
    border: #2b2d2f;
    margin: 0;
    padding: 0;
  }

.my-col {
    display: inline-block;
}

/* mdl-styles */

.demo-card-event.mdl-card {
  width: 800px;
  background: #3E4EB8;
}

.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}

.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}

.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.demo-layout.demo-layout__transparent {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  position: relative;
  height: 300px;
}

.demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      color: white;
    }

.demo-layout.demo-layout__transparent {
                    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                                0 3px 1px -2px rgba(0, 0, 0, 0.2),
                                0 1px 5px 0 rgba(0, 0, 0, 0.12);
                    width: 100%;
                    position: relative;
                    height: 300px;
                }

div.tourinfodiv {
    display: none;
}

div.tourinforow {

}

.tourinforow > i{ vertical-align: middle !important; }
