
{% extends 'base.html' %}

{% block content %}
{#     <div class="invdiv">#}
{#        <h2>Регистрация</h2>#}
{#    </div>#}
    <div class="elementdiv">
        <form action="/register/" method="post" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-12">
                    Пожалуйста, введите регистрационные данные.
                    <br/><br/>
                </div>
                <div class="col-md-12">
                    Адрес электронной почты:<br />
                    {{ form.username }}
                </div>
                <div class="col-md-12">
                    Пароль:<br />
                    {{ form.password1 }}
                </div>
                <div class="col-md-12">
                    Повторение пароля:<br />
                    {{ form.password2 }}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-10">
                    <input type="submit" value="Зарегистрироваться" class="btn btn-primary btn-large" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}

