{% extends 'base.html' %}

{% block content %}
    <div class="contentbody">
        <h1>{% block title %}Ваши покупки{% endblock %}</h1>

        {% for buying in buyings %}
            {% if buying.visibility == True %}
                <div class="objdiv" id = "buying{{ buying.id }}" >
                    <div class="objdiv_header">
                        <div class="objdiv_header_left">{{ buying.tour.name }}</div>
                        <div class="objdiv_header_right">{{ buying.final_cost }} руб</div>
                    </div>
                    <div class="objdiv_body">
                        дата бронирования: {{ buying.buy_date}} <br/>
                        статус: {{ buying.status}} <br/>
                        путешествие из г. {{ buying.tour.departure_city.name }} в г. {{ buying.tour.hotel.city.name }} <br/>
                        время отбытия: {{ buying.tour.start_date }} <br/>
                        время прибытия обратно: {{ buying.tour.fin_date }} <br/>
                    </div>

                    <div class="objdiv_body_info" id="tourinfo{{ buying.id }}">

                        <div class="objdiv_body_txt">
                            отель: {{ buying.tour.hotel.name }}, {{ buying.tour.hotel.stars}} звезд<br/>
                            страна: {{ buying.tour.hotel.city.country }}<br/>
                            авиакомпания: {{ buying.tour.airline }}<br/>
                            туроператор: {{ buying.tour.tour_operator.username }}<br/>
                            количество свободных туров: {{ buying.tour.capacity }}<br/>
                        </div>
                        <div class="objdiv_body_img">

                            <img src="{{ buying.tour.image.url }}" class="img-thumbnail" ></br>
                        </div>
                    </div>
                    <div class="objdiv_footer">
                        <div class="objdiv_footer_left">&nbsp;</div>
                        <div class="objdiv_footer_right">
                            <a href="javascript: change_display_tour_div('tourinfo{{ buying.id }}')" class="btn btn-danger btn-large">Подробнее</a>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
